@model Fornecedor
<link rel="stylesheet" href="~/css/funcionario.css" />
<link rel="stylesheet" href="~/css/formulario.css" />

@if (TempData["Sucesso"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
@if (TempData["Error"] != null) {
    <div class="alert alert-danger" role="alert" style="margin-bottom: 3px;">
        @TempData["Error"]
        <button type="button" class="btn btn-danger btn-sm close-alert erro" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
<div class="container-funci">
    <div class="container-title">
        <h1 class="title"><i class="fa fa-user-gear"></i> Novo fornecedor</h1>
    </div>
    <form class="flex-container" asp-action="CreateFornecedor" asp-controller="Fornecedor">
        <div class="col-md-6 input-group form-group form-it">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-tie"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="inputNomeFantasia"
                   placeholder="Informe o nome fantasia do cliente." maxlength="60" asp-for="NomeFantasia">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.NomeFantasia)
                </small>
            </div>
        </div>
        <div class="col-md-6 input-group form-group form-it">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-user-tie"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="inputRasaoSocial"
                   placeholder="Informe a razão social do cliente." maxlength="60"
                   asp-for="RazaoSocial">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.RazaoSocial)
                </small>
            </div>
        </div>
        <div class="col-md-6 input-group form-group form-it">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-address-card"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="inputCnpj"
                   placeholder="Informe o CNPJ do cliente." maxlength="14"
                   onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" asp-for="Cnpj">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Cnpj)
                </small>
            </div>
        </div>
        <div class="col-md-6 input-group form-group form-it">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-address-card"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="inputInscriEsta"
                   placeholder="Informe a inscrição estadual do cliente." maxlength="14"
                   onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" asp-for="InscricaoEstadual">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.InscricaoEstadual)
                </small>
            </div>
        </div>
        <div class="col-md-6 input-group form-group form-it">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-address-card"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="inputInscriMuni"
                   placeholder="Informe a inscrição municipal do cliente."
                   maxlength="14" onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" asp-for="InscricaoMunicipal">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.InscricaoMunicipal)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Email" placeholder="informe o e-mail.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Email)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Tel" placeholder="informe o telefone.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Tel)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-location-dot"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="NumeroResidencial" placeholder="informe o número residencial.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.NumeroResidencial)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-location-dot"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Logradouro" placeholder="informe o logradouro.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Logradouro)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-location-dot"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="ComplementoResidencial" placeholder="informe o complemento residencial.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.ComplementoResidencial)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-location-dot"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Bairro" placeholder="informe o bairro.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Bairro)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-location-dot"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Cidade" placeholder="informe a cidade.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Cidade)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-location-dot"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Estado" placeholder="informe o estado.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Estado)
                </small>
            </div>
        </div>
        <div class="form-group container-botoes col-md-12">
            <a class="btn voltar-btn" asp-action="Index" asp-controller="Fornecedor">Voltar</a>
            <input type="submit" value="Salvar" class="btn submit_btn">
        </div>
    </form>
</div>