@model Safra
<link rel="stylesheet" href="~/css/funcionario.css" />
<link rel="stylesheet" href="~/css/formulario.css" />
<link rel="stylesheet" href="~/css/inativar.css">

@if (TempData["Sucesso"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
@if (TempData["Error"] != null) {
    <div class="alert alert-danger" role="alert" style="margin-bottom: 3px;">
        @TempData["Error"]
        <button type="button" class="btn btn-danger btn-sm close-alert erro" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
<div class="container-funci">
    <div class="container-title">
        <h1 class="title"><i class="fa fa-chart-line"></i> Deletar safra</h1>
    </div>
    <form class="flex-container" asp-action="DeletarSafra" asp-controller="Safra">
        <input type="hidden" asp-for="Id">
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-sharp fa-regular fa-building"></i></span>
            </div>
            <select asp-for="StatusSafra" class="form-control" disabled>
                <optgroup>
                    <option value="0">Aberta</option>
                    <option value="1">Fechada</option>
                </optgroup>
            </select>
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.StatusSafra)
                </small>
            </div>
            <div class="error-message">
                <p> *Status de abertura da safra</p>
            </div>
        </div>
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-sharp fa-regular fa-building"></i></span>
            </div>
            <input type="text" asp-for="CodSafra" class="form-control" readonly>
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.CodSafra)
                </small>
            </div>
            <div class="error-message">
                <p> *Código de safra</p>
            </div>
        </div>
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-sharp fa-regular fa-building"></i></span>
            </div>
            <input type="text" asp-for="YearSafra" class="form-control" readonly>
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.DataAberturaSafra)
                </small>
            </div>
            <div class="error-message">
                <p> *Safra</p>
            </div>
        </div>
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-sharp fa-regular fa-building"></i></span>
            </div>
            <input type="date" asp-for="DataAberturaSafra" class="form-control" readonly>
            <div class="error-message">
                <p> *Data de abertura da safra</p>
            </div>
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.DataAberturaSafra)
                </small>
            </div>
        </div>
        <div class="form-group container-botoes col-md-12">
            <a class="btn voltar-btn" asp-action="Index" asp-controller="Safra">Voltar</a>
            <input type="submit" value="Deletar" class="btn submit_btn">
        </div>
    </form>
</div>