<!-- CSS personalizado -->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="~/css/funcionario.css">
<link rel="stylesheet" href="~/css/datatable.css" />

@model List<Safra>
@using SugarProductionManagement.Models.Enums
<!--HTML da página-->
@if (TempData["Sucesso"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
@if (TempData["Error"] != null) {
    <div class="alert alert-danger" role="alert" style="margin-bottom: 3px;">
        @TempData["Error"]
        <button type="button" class="btn btn-danger btn-sm close-alert erro" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
<div class="container-funci">
    <div class="container-title">
        <h1 class="title"><i class="fa fa-chart-line fa-bounce"></i> Safras</h1>
    </div>
    <div class="container-button">
        <div>
        </div>
        <div><a class="btn button" asp-action="NewSafra" asp-controller="Safra"><i class="fa fa-plus"></i> Safra</a></div>
    </div>
    <table id="table-funcionario" class="table shadow-sm p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th style="font-size: 9pt;" scope="col">Id</th>
                <th style="font-size: 9pt;" scope="col">Cod. safra</th>
                <th style="font-size: 9pt;" scope="col">Data de abertura</th>
                <th style="font-size: 9pt;" scope="col">Data de fechamento</th>
                <th style="font-size: 9pt;" scope="col">Safra</th>
                <th style="font-size: 9pt;" scope="col">Status</th>
                <th style="font-size: 9pt;" scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count != 0) {
                @foreach (var safra in Model) {
                    <tr class="row-hover">
                        <td scope="row">@safra.Id</td>
                        <td>@safra.CodSafra</td>
                        <td>@safra.ReturnDataAberturaSafra()</td>
                        @if (safra.DataFechamentoSafra == null) {
                            <td>Não possui</td>
                        }
                        else {
                            <td>@safra.ReturnDataFechamentoSafra()</td>
                        }
                        <td>@safra.YearSafra</td>
                        <td>@safra.ReturnStatusSafra()</td>
                        <td>
                            @if (safra.StatusSafra != StatusSafra.Fechado) {
                                <a class="edit" asp-action="FecharSafra" asp-route-id="@safra.Id"><i class="fa fa-sliders"></i></a>
                                <a class="trash" asp-action="DeletarSafra" asp-route-id="@safra.Id"><i class="fa fa-trash-alt"></i></a>
                            }
                            else {
                                <a class="disabled"><i class="fa fa-sliders"></i></a>
                                <a class="disabled"><i class="fa fa-trash-alt"></i></a>
                            }
                        </td>
                    </tr>
                }
            }
            else {
                <tr class="row-hover">
                    <td colspan="7">Nenhum registro encontrado.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/datatables.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/jquery.min.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table-funcionario').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "oLanguage": {
                    "sEmptyTable": "Não existe registros no sistema.",
                    "sInfo": "",
                    "sInfoEmpty": "",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Sua pesquisa não encontrou nenhum registro correspondente.",
                    "sSearch": "Pesquisar:  ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
   }