@model Saida
<link rel="stylesheet" href="~/css/funcionario.css" />
<link rel="stylesheet" href="~/css/formulario.css" />

@if (TempData["Sucesso"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
@if (TempData["Error"] != null) {
    <div class="alert alert-danger" role="alert" style="margin-bottom: 3px;">
        @TempData["Error"]
        <button type="button" class="btn btn-danger btn-sm close-alert erro" aria-label="Close"> <i class="fa fa fa-xmark"></i> </button>
    </div>
}
<div class="container-funci">
    <div class="container-title">
        <h1 class="title"><i class="fa fa-cubes-stacked"></i> Nova entrada de carregamento</h1>
    </div>
    <form class="flex-container" asp-action="NewSaida" asp-controller="Saida">
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-sharp fa-regular fa-building"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Informe a quantidade de saída do lote." id="qtLancada" onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;">
        </div>
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-sharp fa-regular fa-building"></i></span>
            </div>
            <select class="form-control" id="producaoId">
                <option value="">Informe o lote de produção.</option>
                <optgroup>
                    @foreach (var item in Model.ListProducoesProduto!) {
                        <option value="@item.Id">@item.Produto!.Nome | Lote: @item.Lote</option>
                    }
                </optgroup>
            </select>
            <button class="btn btn-plus add-ajax" type="button"><i class="fa fa-plus"></i></button>
        </div>
        <div class="input-group form-group col-md-12" id="listSaidasSelects"></div>
        <div class="form-group container-botoes col-md-12">
            <a class="btn voltar-btn" asp-action="Lancamentos" asp-route-id="@ViewBag.Id" asp-controller="Saida">Voltar</a>
            <input type="submit" value="Salvar" class="btn submit_btn">
        </div>
    </form>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/AddSaida.js"></script>